* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, Arial, sans-serif;
    background: #FFF;
    color: #111;
}

header.main-header {
    width: 940px;
    margin: 0 auto 0;
    overflow:hidden;
}

img#logo {
    float: left;
    width: 90.6px;
    height: 26.9px;
    margin-top: 36.1px;
    margin-right: 122.4px;
}

div.links {
    float: left;
    padding-top: 38px;
    width: 200px;
}

div.links a {
    text-decoration: none;
    color: #111;
    margin-right: 30px;
}

a.atual {
    font-weight: bold;
}

article {
    width: 940px;
    margin: 50px auto 0;
}

article h1 {
    margin-bottom: 20px;
    font-size: 24px;
}

article p {
    margin-bottom: 30px;
    font-size: 18px;
    color: #444;
}

footer {
    clear: both;
    text-align: center;
    background: #EEEEEE;
    height: 62px;
    margin-top: 50px;
}

footer p {
    font-size: 14px;
    color: #999;
    padding: 23px 0 23px;
}
