div.cont-receita {
    width: 940px;
    margin: 0 auto 0;
}

img#img-receita {
    width: 940px;
    height: 280px;
    border-radius: 15px;
    margin-bottom: 50px;
}

div.titulo-autor {
    text-align: center;
    font-size: 36px;
    margin-bottom: 50px;
}

p#aut-receita {
    font-size: 20px;
    color: #777777;
}

.rec-content {
    margin-bottom: 39px;
    font-size: 18px;
}

p {
    font-size: 18px;
    color: #444444;
    line-height: 28px;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
    display: inline-block;
}


ul {
    padding-left: 20px;
    color: #444444;
    line-height: 28px;
}

span.shide {
    font-weight: bold;
    font-size: 12px;
    color: #999;
    margin-left: 8px;
}

span.shide:hover {
    cursor: pointer;
}