
div.mais-acess {
    width: 940px;
    margin: 50px auto 50px;
    clear: both;
    overflow:hidden;
}

div.mais-acess h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.nlastonline {
    margin-right: 20px;
}

img.img-macess {
    width: 300px;
    height: 140px;
    margin-bottom: 20px;
    border-radius: 15px;
}

.product h3 {
    font-size: 18px;
}

.product p {
    font-size: 14px;
    color: #777;
}

a.link {
    display: block;
    text-decoration: none;
    color: #333333;
    float: left;
    margin-bottom: 30px;
}