{% extends "layout.njk" %}

    {% block css %}
        <link rel="stylesheet" href="css/styles.css">
        <link rel="stylesheet" href="css/pages/sobre/styles.css">
    {% endblock %}

    {% block content %}

    <article>
        <h1>Sobre o Foodfy</h1>
        <p>Mussum Ipsum, cacilds vidis litro abertis. Delegadis gente finis, bibendum egestas augue arcu ut est. Quem num gosta di mé, boa gentis num é. Praesent vel viverra nisi. Mauris aliquet nunc non turpis scelerisque, eget. Casamentiss faiz malandris se pirulitá.</p>
        <p>Todo mundo vê os porris que eu tomo, mas ninguém vê os tombis que eu levo! Suco de cevadiss deixa as pessoas mais interessantis. Diuretics paradis num copo é motivis de denguis. Interagi no mé, cursus quis, vehicula ac nisi.</p>

        <h2>Como tudo começou...</h2>
        <p>Admodum accumsan disputationi eu sit. Vide electram sadipscing et per. Atirei o pau no gatis, per gatis num morreus. Pra lá , depois divoltis porris, paradis. Cevadis im ampola pa arma uma pindureta.</p>
        <p>Detraxit consequat et quo num tendi nada. Per aumento de cachacis, eu reclamis. Leite de capivaris, leite de mula manquis sem cabeça. Mais vale um bebadis conhecidiss, que um alcoolatra anonimis.</p>

        <h2>Nossas receitas</h2>
        <p>Manduma pindureta quium dia nois paga. Praesent malesuada urna nisi, quis volutpat erat hendrerit non. Nam vulputate dapibus. Si num tem leite então bota uma pinga aí cumpadi! Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis.</p>
    </article>

    

</body>
</html>

    {% endblock %}