{% extends "layout.njk" %}

    {% block css %}
        <link rel="stylesheet" href="css/styles.css">
        <link rel="stylesheet" href="css/pages/receitas/styles.css">
    {% endblock %}

    {% block content %}

    <div class="mais-acess">

    {% for product in data %}
            {% if loop.index % 3 == 0 %} 
            <a class="link product" href={{"/recipes/" + loop.index0 }} >
                <div>
                    <img class="img-macess" src={{product.image}} >
                    <div class="tit-aut">
                        <h3>{{product.title}}</h3>
                        <p>por {{product.author}}</p>
                    </div>
                </div>
            </a>
            {% else %}
            <a class="link product nlastonline" href={{"/recipes/" + loop.index0 }} >
                <div>
                    <img class="img-macess" src={{product.image}} >
                    <div class="tit-aut">
                        <h3>{{product.title}}</h3>
                        <p>por {{product.author}}</p>
                    </div>
                </div>
            </a>
            {% endif %}
    {% endfor %}
    
    </div>
    
</body>
</html>

{% endblock %}